PORT=5000
MONGO_URI=mongodb_url
PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=password
PG_DATABASE=sql_sandbox
PG_SSL=false
GEMINI_API_KEY=your_gemini_api_key_here
JWT_SECRET=your_jwt_secret_key_here
CORS_ORIGIN=http://localhost:5173
