PORT=5000
MONGO_URI=mongodb+srv://kabaddi1424:S8a3zASPKhVqA3G9@cluster0.axqme.mongodb.net/CipherSchool
PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=password
PG_DATABASE=sql_sandbox
PG_SSL=false
GEMINI_API_KEY=AIzaSyBJFpaDeO_fNKfnVd7YdK-fBFfn8MnMVXM
CORS_ORIGIN=http://localhost:5173
