@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.app-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem;

    header {
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $border-color;
        padding-bottom: 1rem;

        h1 {
            margin-bottom: 0;
            font-weight: 700;
            color: $primary-color;
        }
    }
}